html {
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  font-family: Georgia, serif;
  font-size: 300%;
}

a {
  margin-right: 10px;
}

p  {
  color: black;
  font-family: Georgia, serif;
  font-size: 160%;
}

body {
  background-color: lightcyan;
  font-family: Georgia, serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
